{% extends "layout.html" %}
{% block body %}
<style>
	.about2{
		margin-top: 140px;
		text-align: center;
		background-color: rgb(227, 236, 236);
	}

	</style>
	
	
	
	
	<div class="about2">

		<h2>OUR STORY</h2>
		<p style="width: 80%; margin-left: 10%; margin-right: 10%;">Education has become a fundamental need for the Society, But Still Many students
			 have been deprived from this.To adhere this issue and to provide good study 
			 materials for every students, and to provide right education, 
			to enhance their mental ability, We Started this Learning Platform so that
			if there is internet, We exist to help Students.</p>

			<p style="width: 80%; margin-left: 10%; margin-right: 10%;">
				Our niche is to provide learning experiences for every type of learner. The EDUBAAZ'S way
				 of learning provides students a learning platform where they can learn, engage and be excited 
				 about charting their own path to discover the world. EDUBAAZ - The Learning Platform brings together the best teachers,
				 technology, content, media for creating a seamless, world class learning experience for each and every student.
			</p>
			<p style="width: 80%; margin-left: 10%; margin-right: 10%;">
				Learning is pivotal for a student's success in academics and life. The Digital Age is deeply shaping the way students learn 
				and will also determine their future prospects. At EDUBAAZ, we encourage students to embrace this fast,
				 changing world and making them ready for tomorrow by being their constant learning partner.

					we craft learning journeys for every student that address their unique needs. We believe in the power 
					of one-to-one learning that addresses every child's learning needs, allows students to be holistically
					involved in their education and be active, lifelong learners.

		</p>
		<p style="width: 80%; margin-left: 10%; margin-right: 10%;">
		To provide Premium quality education Support for Every Students, Living in any corner of Nepal,
		 to help them Excel in Competative Examinations Like Dristict level Examination(DLE)
		 And Secondary Education Examination(SEE).
		 We Are further growing, and with all your love and support, We are planning to 
		 to add some more categories in near future
		 </p>
</div>




















{% endblock %}
